In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
from pprint import pprint
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from sklearn.linear_model import LogisticRegression
from sklearn.neighbors import KNeighborsClassifier
from sklearn.naive_bayes import GaussianNB
from sklearn.tree import DecisionTreeClassifier
from sklearn.ensemble import RandomForestClassifier
from sklearn.model_selection import train_test_split
from sklearn.metrics import roc_curve, auc

In [36]:
EEG_df = pd.read_csv('mergedTrialData.csv')
EEG_df.head()

,subject,trial,condition,group,Fz_N100,FCz_N100,Cz_N100,FC3_N100,FC4_N100,C3_N100,...,FCz_P200,Cz_P200,FC3_P200,FC4_P200,C3_P200,C4_P200,CP3_P200,CP4_P200,AFz_P200,F2_P200
0,1,1,1,0,-9.761338,-11.545219,-16.775214,-3.576595,-11.745167,-0.895419,...,-6.658456,-14.511602,0.534968,-10.151251,1.568010,-15.546915,-2.668376,-13.597885,-0.123107,-7.689620
1,1,2,1,0,8.717519,11.462619,7.979110,9.429738,6.912862,6.242343,...,9.957393,9.541910,7.680902,8.607368,1.568734,10.505954,2.997705,6.923490,5.368154,10.711315
2,1,3,1,0,-4.027286,-3.992038,-1.104119,-3.319471,0.321314,0.419538,...,13.757878,18.368876,12.485129,13.987434,14.659761,13.410249,18.663222,16.110812,5.886483,15.806727
3,1,4,1,0,0.394095,-0.663186,-1.372871,3.974643,-1.613667,2.376024,...,13.603622,17.705315,12.595341,8.055663,14.441024,13.026871,17.386539,15.207634,7.483873,6.542185
4,1,5,1,0,-9.368090,-12.029829,-10.280100,-7.846471,-8.170986,-10.192229,...,2.245854,3.302861,8.796280,5.865524,6.957683,5.901222,3.791339,2.497285,1.205537,3.809385

In [47]:
col_names = EEG_df.columns.values
X = EEG_df[col_names[0:]]
Y = EEG_df[col_names[2:4]]

In [38]:
X.head(5)

,subject,trial,condition,group,Fz_N100,FCz_N100,Cz_N100,FC3_N100,FC4_N100,C3_N100,...,FCz_P200,Cz_P200,FC3_P200,FC4_P200,C3_P200,C4_P200,CP3_P200,CP4_P200,AFz_P200,F2_P200
0,1,1,1,0,-9.761338,-11.545219,-16.775214,-3.576595,-11.745167,-0.895419,...,-6.658456,-14.511602,0.534968,-10.151251,1.568010,-15.546915,-2.668376,-13.597885,-0.123107,-7.689620
1,1,2,1,0,8.717519,11.462619,7.979110,9.429738,6.912862,6.242343,...,9.957393,9.541910,7.680902,8.607368,1.568734,10.505954,2.997705,6.923490,5.368154,10.711315
2,1,3,1,0,-4.027286,-3.992038,-1.104119,-3.319471,0.321314,0.419538,...,13.757878,18.368876,12.485129,13.987434,14.659761,13.410249,18.663222,16.110812,5.886483,15.806727
3,1,4,1,0,0.394095,-0.663186,-1.372871,3.974643,-1.613667,2.376024,...,13.603622,17.705315,12.595341,8.055663,14.441024,13.026871,17.386539,15.207634,7.483873,6.542185
4,1,5,1,0,-9.368090,-12.029829,-10.280100,-7.846471,-8.170986,-10.192229,...,2.245854,3.302861,8.796280,5.865524,6.957683,5.901222,3.791339,2.497285,1.205537,3.809385

In [39]:
X_N100 = X[col_names[0:15]]
X_N100.head(5)

,subject,trial,condition,group,Fz_N100,FCz_N100,Cz_N100,FC3_N100,FC4_N100,C3_N100,C4_N100,CP3_N100,CP4_N100,AFz_N100,F2_N100
0,1,1,1,0,-9.761338,-11.545219,-16.775214,-3.576595,-11.745167,-0.895419,-16.679205,-5.854429,-14.473143,-5.620110,-11.518548
1,1,2,1,0,8.717519,11.462619,7.979110,9.429738,6.912862,6.242343,4.690100,2.795200,1.938529,7.087043,9.521781
2,1,3,1,0,-4.027286,-3.992038,-1.104119,-3.319471,0.321314,0.419538,0.030619,2.828195,2.731533,-5.319305,1.080852
3,1,4,1,0,0.394095,-0.663186,-1.372871,3.974643,-1.613667,2.376024,-1.504500,2.945000,-1.082224,-0.270219,-3.785038
4,1,5,1,0,-9.368090,-12.029829,-10.280100,-7.846471,-8.170986,-10.192229,-6.907095,-14.041000,-9.666710,-9.386048,-11.431033

In [41]:
X_N100 = X_N100.drop(['subject','trial','group','Fz_N100', 'Cz_N100', 'FC4_N100', 'C3_N100', 'C4_N100', 'CP3_N100','CP4_N100'], axis=1)
X_N100.head(5)

   condition   FCz_N100  FC3_N100  AFz_N100    F2_N100
0          1 -11.545219 -3.576595 -5.620110 -11.518548
1          1  11.462619  9.429738  7.087043   9.521781
2          1  -3.992038 -3.319471 -5.319305   1.080852
3          1  -0.663186  3.974643 -0.270219  -3.785038
4          1 -12.029829 -7.846471 -9.386048 -11.431033

In [42]:
X_P200 = X[col_names[15:]]
X_P200['condition']=X['condition']
X_P200.head(5)

C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

,Fz_P200,FCz_P200,Cz_P200,FC3_P200,FC4_P200,C3_P200,C4_P200,CP3_P200,CP4_P200,AFz_P200,F2_P200,condition
0,-4.281366,-6.658456,-14.511602,0.534968,-10.151251,1.568010,-15.546915,-2.668376,-13.597885,-0.123107,-7.689620,1
1,6.607412,9.957393,9.541910,7.680902,8.607368,1.568734,10.505954,2.997705,6.923490,5.368154,10.711315,1
2,11.485566,13.757878,18.368876,12.485129,13.987434,14.659761,13.410249,18.663222,16.110812,5.886483,15.806727,1
3,11.772395,13.603622,17.705315,12.595341,8.055663,14.441024,13.026871,17.386539,15.207634,7.483873,6.542185,1
4,3.829656,2.245854,3.302861,8.796280,5.865524,6.957683,5.901222,3.791339,2.497285,1.205537,3.809385,1

In [43]:
X_P200 = X_P200.drop(['Fz_P200', 'Cz_P200', 'FC4_P200', 'C3_P200', 'C4_P200', 'CP3_P200','CP4_P200'], axis=1)
X_P200.head(5)

    FCz_P200   FC3_P200  AFz_P200    F2_P200  condition
0  -6.658456   0.534968 -0.123107  -7.689620          1
1   9.957393   7.680902  5.368154  10.711315          1
2  13.757878  12.485129  5.886483  15.806727          1
3  13.603622  12.595341  7.483873   6.542185          1
4   2.245854   8.796280  1.205537   3.809385          1

In [48]:
Y.head(5)

   condition  group
0          1      0
1          1      0
2          1      0
3          1      0
4          1      0

In [49]:
def train_val_test_split(X, Y, test_size=0.3, random_state=123):
    X_train, X_test, Y_train, Y_test = train_test_split(X, Y, 
                                                        test_size=test_size, 
                                                        random_state=random_state)
   
    return X_train, X_test, Y_train, Y_test

In [51]:
Y_condition1=Y[Y['condition']==1]
Y_condition2=Y[Y['condition']==2]
Y_condition3=Y[Y['condition']==3]

In [52]:
XN100_condition1=X_N100[X_N100['condition']==1]
XN100_condition2=X_N100[X_N100['condition']==2]
XN100_condition3=X_N100[X_N100['condition']==3]

In [57]:
XP200_condition1=X_P200[X_P200['condition']==1]
XP200_condition2=X_P200[X_P200['condition']==2]
XP200_condition3=X_P200[X_P200['condition']==3]

In [53]:
XN100_condition1=XN100_condition1.drop('condition',axis=1)
XN100_condition2=XN100_condition2.drop('condition',axis=1)
XN100_condition3=XN100_condition3.drop('condition',axis=1)
Y_condiition1=Y_condition1.drop('condition', axis=1)
Y_condiition2=Y_condition2.drop('condition', axis=1)
Y_condiition3=Y_condition3.drop('condition', axis=1)

In [58]:
XP200_condition1=XP200_condition1.drop('condition',axis=1)
XP200_condition2=XP200_condition2.drop('condition',axis=1)
XP200_condition3=XP200_condition3.drop('condition',axis=1)

In [54]:
XN100_condition1_train, XN100_condition1_test, YN100_condition1_train, YN100_condition1_test = train_val_test_split(XN100_condition1, Y_condition1,
                                                                      
                                                                      test_size=0.3,
                                                                      random_state=123)

In [59]:
XP200_condition1_train, XP200_condition1_test, YP200_condition1_train, YP200_condition1_test = train_val_test_split(XP200_condition1, Y_condition1,
                                                                      
                                                                      test_size=0.3,
                                                                      random_state=123)

In [55]:
from sklearn.model_selection import cross_val_score
from sklearn.model_selection import RepeatedKFold
from sklearn.model_selection import cross_val_score
from sklearn.model_selection import GridSearchCV

In [56]:
rkfold = RepeatedKFold(n_splits=7, n_repeats=3, random_state=42) 
param_grid = {'weights':['uniform', 'distance'],
'n_neighbors': [9, 11, 13, 15]}
grid = GridSearchCV(KNeighborsClassifier(), param_grid, cv=rkfold, return_train_score=True, scoring='accuracy', iid=False)
grid.fit(XN100_condition1_train, YN100_condition1_train)
grid.score(XN100_condition1_test, YN100_condition1_test), grid.best_params_, grid.best_score_

(0.5772011909825606,
 {'n_neighbors': 15, 'weights': 'uniform'},
 0.5796425530620932)

In [60]:
rkfold = RepeatedKFold(n_splits=7, n_repeats=3, random_state=42) 
param_grid = {'weights':['uniform', 'distance'],
'n_neighbors': [9, 11, 13, 15]}
grid = GridSearchCV(KNeighborsClassifier(), param_grid, cv=rkfold, return_train_score=True, scoring='accuracy', iid=False)
grid.fit(XP200_condition1_train, YP200_condition1_train)
grid.score(XP200_condition1_test, YP200_condition1_test), grid.best_params_, grid.best_score_

(0.5606125053168864,
 {'n_neighbors': 15, 'weights': 'distance'},
 0.5824384670854293)